/* your styles go here */
#contact, #portfolio {
    padding: 0 0 150px 0;
}

@media (max-width: 991px) {
  #contact, #portfolio {
    padding: 0 0 60px 0;
  }
}

.portfolio-images img {
    height: 202.5px;
    width: 360px;
}
